AWSTemplateFormatVersion: 2010-09-09
Resources:
  AdministratorsGroup:
    Type: 'AWS::IAM::Group'
    Properties:
      GroupName: administrators
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/AdministratorAccess'
